*{padding:0;margin:0}ul,li{list-style: none}
body{
	height: 100vh;
	font-size: 10px;
	width: 100%;
	overflow: hidden;
}

.slider{
}
.slider li{
	height: 100vh;
	box-sizing: border-box;
	border: 1px solid black;
	float:left;
}