@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
*{
	position: 0;
	margin: 0;
}
*{
	font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

.banner{
	position: relative;
	margin: 0 auto;
	width: 800px;
	height: 320px;
}
.banner .bg~img, .banner p{
	position: absolute;
}
.monkey{
	bottom: 0px;
	right : 11px;
}
.logo{
	top: 18px;
	left : 19px;
}
.apes{
	bottom:93px;
	left:4px;
}
.galliras{
	bottom:25px;
	left:18px;
}
.banner p{
	top: 32px;
	left : 124px;
	font-size: 22.46px;
	color: white;
	font-weight: bold;
	line-height: 33.69px;
	font-style:italic;
}