* {
	padding: 0;
	margin: 0;
}
html {
	font-size:10px;
}
html>ul {
	font-size: 16px;
	line-height: 24px;
	list-style: none;
}
.hide{
	display:none;
}
.how-about{
	display: block;
	text-align: center;
	font-size:16px;
	color:gray;
	display: flex;
}
.default{
	min-height: 274px;
}
.other{
	height: 250px;
	overflow: scroll;
	overflow-x: hidden;
}
.other p{
	line-height:125px;
}
.other li{
	float:left;
	margin-top: 14px;
	margin-left: 50px;
}
.default p, .other p{
	text-align: center;
}
section{
	margin-top:24px;
	margin-left:20px;
	margin-right:20px;
}
section p{
	color:gray;
	font-size:16px;
	line-height: 24px;
}
section>ul{
	width: 400px;
	border:3px solid #e0e0e0;
	box-sizing: border-box;
	float:left;
	margin-right:20px;
}

section>ul>li{
	color:gray;
	font-size:16px;
	margin:21px;
	margin-bottom:23px;
}
section>ul label {
	display:block;
	width: 100%;
}
section>ul input {
	border : 2px solid #adadad;
	box-sizing: border-box;
	width: 80px;
	height: 25px;
	font-size:15px;
	text-align: center;
}

button{
	font-size:16px;
	width:150px;
	height: 48px;
	border:none;
	background: #ff9999;
	border-radius:10px;
	margin-top:72px;
	margin-bottom:96px;
	transition: all 0.2s;
}
button:hover, button:focus{
	background: #ff5555;
}
section::after{
	content:" ";
	display: block;
	clear:both;
}

.result-pannel>div{
	width: 100%;
	margin-bottom:120px;
}

.add{
	font-size: 48px;
	display: block;
	width: 100%;
	text-align: center;
	color:#ff5555;
}
.indent{
	text-indent: 30px;
}
.result-css{
	width: 50%;
	float:left;
	font-size: initial;
}

.title{
	font-size: 20px;
	color:#ff3f3f;
}
#result-html li{
	margin-left:40px;
}