h1{
	text-align: center;
}
div, p, ul, li, ol, a, span, body, img{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
.board{
	width: 960px;
	background: #dcdcdc;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
.board h2{
	background: powderblue;
	margin : 0 ;
	padding : 10px;
}
.board div{
	width: 100px;
	height: 100px;
	margin: 10px 10px;
	background: tomato;
}


.board.a div{
	margin : 0 auto;
}

.board.b div{
	width:50%;
	float:left;
	margin: 0;
}
.board.b div.first{
	background: blue;
}
.board.b{
	overflow:auto;
}

.board.b.c div{
	width: 60vw;
}
.board.b.e div{
	max-width: 480px;
}

.selector>ul{
	overflow: auto;
	border-bottom : 4px solid black;
}
.selector>.two h2{
	float:left;
	height: 100px;
	line-height: 100px;
	width: 240px;
}
.selector div{
	float:left;
}
.selector>ul.two>li{
	width: 480px;
	float:left;
}
.selector>ul.a>li.a>div:after{
	content : ":after";
	color: white;
	width: 100px;
	text-align: center;
	display: block;
	line-height: 100px;
	font-size: 20px;
}
.selector>ul.a>li.b>div::after{
	content : "::after";
	color: white;
	width: 100px;
	text-align: center;
	display: block;
	line-height: 100px;
	font-size: 20px;
}
.selector>ul.b>li.a>div:before{
	content : ":before";
	color: white;
	width: 100px;
	text-align: center;
	display: block;
	line-height: 100px;
	font-size: 20px;
}
.selector>ul.b>li.b>div::before{
	content : "::before";
	color: white;
	width: 100px;
	text-align: center;
	display: block;
	line-height: 100px;
	font-size: 20px;
}
.selector>ul.e.last-child>li>div.wrap div:last-child{
	background: blue;
}
.selector>ul.e.first-child>li>div.wrap div:first-child{
	background: blue;
}
.selector>ul.e.two h2{
	width: 400px;
}
.selector>ul.e.two li{
	width: 960px;
}
.selector>ul.e.two li>.wrap{
	width: 540px;
	height: 120px;
	margin: 0;
	background: none;
}
.selector>ul.e.two.num li>.wrap div:nth-child(1){
	background: blue;
}
.selector>ul.e.two.even li>.wrap div:nth-child(even){
	background: blue;
}
.selector>ul.e.two.odd li>.wrap div:nth-child(odd){
	background: blue;
}
.selector>ul.e.two.n li>.wrap div:nth-child(2n){
	background: blue;
}
.selector>ul.e.two.n-plus li>.wrap div:nth-child(3n+1){
	background: blue;
}

.board.c.d div{
	min-width : 480px;
}
.board.c.d div.first{
	background: blue;
}


h2.per{
	background: tomato;
	text-align: center;
}
h2.max-width{
	max-width: 480px;
}
h2.min-width{
	min-width: 960px;
}

ul.two.a-tag h2{
	background: #71d6e2;
}
ul.two.a-tag a{
	background: #ff8d8d;
	color: white;
	display: block;
	text-align: center;
	line-height: 100px;
	margin-top: 10px;
}
ul.two.a-tag a.hover:hover{
	background: powderblue;
}
ul.two.a-tag a.active:active{
	background: powderblue;
}
ul.two.a-tag a.visited:visited{
	background: powderblue;
}
ul.two.a-tag a.focus:focus{
	background: powderblue;
}
ul.two.a-tag div:hover{
	background: powderblue;
}
ul.two.a-tag div{
	line-height: 100px;
	text-align: center;
	color:white
}

.board .input h2{
	width: 200px;
}
.board .input{
	text-align: center;
}
.board input{
	margin-top: 50px;
}

.board.transition .wta{
	height: 200px;
}
.board .transition{
	transition: all 0.4s;
	float: left;
	color: white;
	text-align: center;
	line-height: 100px;
}
.board a.transition{
	display: block;
	width: 100px;
	height: 100px;
	background: tomato;
	margin-top: 10px;
}
.board .transition:hover{
	background: blue;
}

.board.transition .animation-one{
	animation: bgpercent 1s infinite alternate;
}
.board.transition .animation-two{
	animation: bgfromto 1s infinite alternate;
}
.board.transition .animation-three{
	animation: moveper 10s;
	animation-fill-mode: both;
}
.board.transition .animation-four{
	animation: movefrom 10s;
	animation-fill-mode: both;
}
@keyframes moveper{
	100%{
		margin-left: 400px;
	}
}
@keyframes movefrom{
	to{
		margin-left: 400px;
	}
}

@keyframes bgpercent{
	100%{
		background: blue;
		color:white;
	}
}
@keyframes bgfromto{
	to{
		background: blue;
		color:white;
	}
}

span.red{
	color: red;
}

.board.transition .translatex{
	transform: translateX(400px);
}
.board.transition .translatey{
	transform: translateY(-50px);
}
.board.transition .rotatex{
	transform: rotateX(50deg);
}
.board.transition .rotatey{
	transform: rotateY(50deg);
}
.board.transition .rotate{
	transform: rotate(20deg);
}

.board.transition [class ^= pers]{
	perspective: 300px;
}
.board.transition .per-translatez{
	transform: translateZ(10px);
}

span.white{
	color: white;
}

.board.transition .rotatey-back{
	backface-visibility: hidden;
	transform: rotateY(91deg);
}

nav.modal{
	position: fixed;
	width: 150px;
	text-align: center;
	font-size: 18px;
	color:white;
	top: 400px;
	right: 0;
}
nav.modal ul li{
	opacity: 0.3;
	background: yellow;
	line-height: 30px;
	margin-bottom: 30px;
	color: black;
	cursor: pointer;
}