@charset "UTF-8";
.trans {
  transition: all 0.4s; }

.fix {
  position: fixed; }

header {
  font-size: 0.4rem;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.5rem; }
  header .toggle-menu {
    color: white;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    border-radius: 0.25rem;
    float: right;
    border: none;
    background: none;
    margin-top: 0.5rem;
    font-size: 1rem;
    cursor: pointer; }
    header .toggle-menu::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: black;
      opacity: 0.2; }
  header strong {
    color: white;
    border-radius: 0.25rem;
    float: left;
    font-weight: 300;
    font-size: 0.45rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    padding: 0 0.25rem;
    background: rgba(255, 0, 29, 0.7);
    margin-top: 0.5rem; }
  header .title {
    color: white;
    padding-top: 2.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    text-transform: uppercase;
    padding-bottom: 1.25rem; }
  header nav {
    transition: all 0.4s;
    position: absolute;
    width: 0;
    overflow: hidden;
    max-width: 20rem;
    right: 0;
    top: 0;
    box-sizing: border-box;
    background: #F8F8F8;
    float: right;
    min-height: 100vh; }
    header nav.on {
      width: 100%; }
    header nav h2 {
      padding-top: 0.25rem;
      padding-left: 0.25rem;
      font-size: 0.6rem;
      line-height: 0.6rem;
      border-top: 0.075rem solid #999;
      border-bottom: 0.025rem solid #999;
      padding-bottom: 0.25rem; }
      header nav h2:nth-child(2) {
        padding-top: 1.5rem; }
    header nav ul button, header nav ul a {
      cursor: pointer;
      display: block;
      width: 100%;
      color: black;
      text-decoration: none;
      text-align: left;
      line-height: 1rem;
      background: none;
      border: 0;
      position: relative; }
      header nav ul button::after, header nav ul a::after {
        content: "";
        transition: all 0.4s;
        display: block;
        background: #E9EDF1;
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 1rem; }
      header nav ul button:hover::after, header nav ul button:focus::after, header nav ul a:hover::after, header nav ul a:focus::after {
        width: 100%;
        background: red; }
    header nav ul li {
      position: relative;
      border-top: 0.025rem dashed #999;
      padding: 0rem 0 0rem 1.25rem;
      line-height: 1rem; }
      header nav ul li.on button {
        color: black; }
        header nav ul li.on button::after {
          background: blue;
          width: 100%; }
    header nav ul li:first-child {
      border: 0; }
    header nav ul li::before {
      content: "⇥";
      position: absolute;
      left: 0.625rem; }
    header nav ul i {
      font-size: 1rem; }
    header nav .toggle-menu {
      position: absolute;
      bottom: 0;
      width: 100%;
      border-radius: 0;
      color: black; }

/*# sourceMappingURL=../../map/modules/_layout/head.css.map */
