*{
	padding: 0;
	margin:0;
}
.hc-modern{
	font-family: 'YouandiModernTR';
}
.spoqa{
	font-family: 'Spoqa Han Sans';
}
h1{
	font-weight:normal;
}
.grid-container{
	background:url(../img/20GT-60WD-10BL.png);
	width: 960px;
	height: 100vh;
	margin: 0 auto;
}
body{
	height: 100vh;
	background: url('../img/back.jpg') no-repeat center;
	background-size:cover;
}