body{
	margin-left:10rem;
	margin-top: 10rem;
}

.note-list{
	margin:0;
	padding:0;
	list-style:none;
}

.note-list ul{
	margin:0;
	padding:0;
	list-style:none;
}

.note-list li{
	background: url(../img/list_style_img.png) no-repeat;
	background-position: 7px 1px;
	padding-left:20px;
}

.color-numbering{
	padding-left:1rem;
	color: #ff7d7d;
}
.color-numbering span{
	color:black;
}

.color-numbering ol{
	color: #dfa7ff;
}


dt {
    font-size: 22px;
    margin-bottom: 10px;
    color: #7faaff;
}
dd{
	background:url(../img/list_style_img.png) no-repeat;
	background-position:0 1px;
	padding-left:15px
}
dd:hover{
	color:red
}
h2{
	border-bottom: 1px solid #bdbdbd;
}