.flude-img{
	width: 100%;
	height: auto;
}

.rwd-bg{
	width: 100%;
	background-size: cover;
}
.crop-img{
	height: 200px;
	position: relative;
	overflow: hidden;
	background: white;
}
.crop-img img{
	position: absolute;
	top: 0;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.bg-center-img{
	height: 200px;
	background: url('../../../homework/3.grid-LeeSsang/img/gill_crop.png');
	background-position: center top;
}