@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/*브라우져 초기화*/
*{padding:0;margin:0}li{list-style:none}

/* 사용자 정의 스타일 오버라이딩(덮어쓰기) */
/* Design = 설계 */

/* 본문 설계(Design) */
html{
	font-size: 16px;
}
body{
	font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
	font-size: 1rem;
	/* 글자 줄 사이 간격 */
	line-height: 1.5rem;
	/*글자 간격*/
	letter-spacing: -0.04em;
	 /* 글자 색상 */
	color: #121003;
}

 /*레이아웃 설계 */
 body{
 	max-width: 52.4rem;
 	margin: 0 auto;
 	background: url(../../day3/img/leading-24.png);
 }
ul li{
	counter-increment: num;
	margin-bottom: 3rem;
}
ul li::before{
	content: counter(num) ". ";
	font-size: 3rem;
	color:#ff45d7;
	float:left;
	line-height: 4.5rem;
}

.title{
	background: none;
	color:#ff45d7;
}

/*제목 설계*/
h1, h2, h3, h4, h5, h6{
	line-height: 1.5rem;
	margin-top:1.5rem;
	background: #a08cff;
}
h1{
	line-height: 4.5rem;
}
h2{
	line-height: 4.5rem;
}
h3{
	line-height: 3rem;
}
h4{
	line-height: 3rem;
}
h5{

}
h6{

}

ul>li>div{
	width: 10.5rem;
	height: 10.5rem;
	font-size: 1.5rem;
	text-align: center;
	line-height: 10rem;
	color:white;
	float:left;
	margin: 1.5rem 20px 1.5rem 20px;
}
.color-picker{
	position: absolute;
	display: none;
}