*{
	padding:0;margin:0
}
li{
	list-style:none
}
body{
	margin: 0;
}

.space{
	position: relative;
	height: 1000vh;
	background: url(../img/space-bg.jpg);
}
.moon{
	position: absolute;
	width: 960px;
	height: 503px;
	background: url(../img/moon.png);
	bottom:0;
}
.wrap{
	position: absolute;
	width: 100%;
}
.line{
	margin-top:200px;
}
.planet{
	margin: 0 auto;
	width: 400px;
	height: 400px;
	background: black;
}


.sun{
	background: url(../img/sun.png) center no-repeat;
}
.Mercury{
	background: url(../img/Mercury.png) center no-repeat;
}
.Venus{
	background: url(../img/Venus.png) center no-repeat;
}
.Earth{
	background: url(../img/Earth.png) center no-repeat;
}
.Mars{
	background: url(../img/Mars.png) center no-repeat;
}
.Jupiter{
	background: url(../img/Jupiter.png) center no-repeat;
}
.Saturn{
	background: url(../img/Saturn.png) center no-repeat;
}
.Uranus{
	background: url(../img/Uranus.png) center no-repeat;
}
.Neptune{
	background: url(../img/Neptune.png) center no-repeat;
}
.Pluto{
	background: url(../img/Pluto.png) center no-repeat;
}

.roket{
	height: 114px;
	width: 50px;
	background: url('../img/rocket.png');
	position: fixed;
	top:50%;
	left:50%;
	margin-left:-25px;
	margin-top: -57px;
	z-index: 100;
	animation: roket 1s steps(10) infinite;
}

.test{
	background: url(../img/Saturn.png) center no-repeat;
	width: 400px;
	height: 400px;
}

@keyframes roket{
	0% {
		background-position: 0 0;
	}
	100%{
		background-position: -1000px 0;
	}
}